src/main/resources/toaOutboundService-AdapterPipeline_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="toa_agent_interface" targetNamespace="urn:toatech:agent" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="urn:toatech:agent" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:toatech:agent" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:toatech:agent" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <!--SHARED-->
      <xsd:complexType name="user_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="now" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="company" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="login" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="auth_string" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <!--SEND MESSAGE-->
      <xsd:complexType name="message_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="app_host" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="app_port" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="app_url" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="message_id" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="company_id" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="address" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="send_to" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="subject" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="body" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="message_response_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="message_id" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="data" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="external_id" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="duration" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sent" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="messages_t">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="message" type="tns:message_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="send_message_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="user" type="tns:user_t"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="messages" type="tns:messages_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="send_message_response_t">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="message_response" type="tns:message_response_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <!--DROP MESSAGE-->
      <xsd:complexType name="message_id_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="message_id" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="message_ids_t">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="message" type="tns:message_id_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="drop_message_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="user" type="tns:user_t"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="messages" type="tns:message_ids_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="result_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="desc" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="message_id_response_t">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="message_id" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="result" type="tns:result_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="drop_message_response_t">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="message_response" type="tns:message_id_response_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <!--ELEMENTS-->
      <xsd:element name="send_message" type="tns:send_message_t"/>
      <xsd:element name="send_message_response" type="tns:send_message_response_t"/>
      <xsd:element name="drop_message" type="tns:drop_message_t"/>
      <xsd:element name="drop_message_response" type="tns:drop_message_response_t"/>
      <xsd:element name="get_message_status" type="tns:drop_message_t"/>
      <xsd:element name="get_message_status_response" type="tns:drop_message_response_t"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="send_message_m">
    <WL5G3N0:part element="WL5G3N1:send_message" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="send_message_response_m">
    <WL5G3N0:part element="WL5G3N1:send_message_response" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="drop_message_m">
    <WL5G3N0:part element="WL5G3N1:drop_message" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="drop_message_response_m">
    <WL5G3N0:part element="WL5G3N1:drop_message_response" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="get_message_status_m">
    <WL5G3N0:part element="WL5G3N1:get_message_status" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="get_message_status_response_m">
    <WL5G3N0:part element="WL5G3N1:get_message_status_response" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="agent_port_type">
    <WL5G3N0:operation name="send_message">
      <WL5G3N0:input message="WL5G3N1:send_message_m"/>
      <WL5G3N0:output message="WL5G3N1:send_message_response_m"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="drop_message">
      <WL5G3N0:input message="WL5G3N1:drop_message_m"/>
      <WL5G3N0:output message="WL5G3N1:drop_message_response_m"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="get_message_status">
      <WL5G3N0:input message="WL5G3N1:get_message_status_m"/>
      <WL5G3N0:output message="WL5G3N1:get_message_status_response_m"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="agent_binding" type="WL5G3N1:agent_port_type">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="send_message">
      <WL5G3N2:operation soapAction="agent_service/send_message" style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="drop_message">
      <WL5G3N2:operation soapAction="agent_service/drop_message" style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="get_message_status">
      <WL5G3N2:operation soapAction="agent_service/get_message_status" style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="agent_service">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N1:agent_binding" name="agent_interface">
      <WL5G3N2:address location="http://10.167.52.70:8003/toaOutboundService-Adapter/EXP/toaOutboundService-AdapterPipeline"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>